// will hide comment-#
<% if @comment.destroyed? %>
  $('#comment-<%= @comment.id %>').hide();
  $('.js-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
<% else %>
  // New flash notice notifies user that error has occured
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash.now[:alert] %></div>");
<% end %>
